<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--程序启动配置路由设置-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <!--程序启动配置数据库-->
  <connectionStrings>
    <add name="DataConnStr" connectionString="Data Source=DESKTOP-BRAUOEP\ACKING; Initial Catalog=SSData;User ID=sa;Password=123"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="Data_Connection" value="server=DESKTOP-BRAUOEP\ACKING;uid=sa;pwd=123;database=SSData"/>
  </appSettings>-->
</configuration>


 
